@page
@model EmployeeRequest.SkillPage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>افزودن مهارت</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TblEmployeeRequestSkill.FldEmployeeRequestSkillsSkillTitle" class="control-label">عنوان فارسی</label>
                <input asp-for="TblEmployeeRequestSkill.FldEmployeeRequestSkillsSkillTitle" class="form-control" />
                <span asp-validation-for="TblEmployeeRequestSkill.FldEmployeeRequestSkillsSkillTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblEmployeeRequestSkill.FldEmployeeRequestSkillsSkillEnglishTitle" class="control-label">عنوان انگلیسی</label>
                <input asp-for="TblEmployeeRequestSkill.FldEmployeeRequestSkillsSkillEnglishTitle" class="form-control" />
                <span asp-validation-for="TblEmployeeRequestSkill.FldEmployeeRequestSkillsSkillEnglishTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblEmployeeRequestSkill.FldEmployeeRequestSkillsSkillDescription" class="control-label">توضیحات فارسی</label>
                <textarea asp-for="TblEmployeeRequestSkill.FldEmployeeRequestSkillsSkillDescription" maxlength="5000" class="form-control"></textarea>
                <span asp-validation-for="TblEmployeeRequestSkill.FldEmployeeRequestSkillsSkillDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblEmployeeRequestSkill.FldEmployeeRequestSkillsSkillEnglishDescription" class="control-label">توضیحات انگلیسی</label>
                <textarea asp-for="TblEmployeeRequestSkill.FldEmployeeRequestSkillsSkillEnglishDescription" maxlength="5000" class="form-control"></textarea>
                <span asp-validation-for="TblEmployeeRequestSkill.FldEmployeeRequestSkillsSkillEnglishDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">وضعیت</label>
                <input class="form-control" asp-for="TblEmployeeRequestSkill.FldEmployeeRequestSkillsSkillActive" />
            </div>
            <div class="form-group">
                <label asp-for="TblEmployeeRequestSkill.FldEmployeeRequestSkillsSkillStartDate" class="control-label">تاریخ شروع</label>
                <input asp-for="TblEmployeeRequestSkill.FldEmployeeRequestSkillsSkillStartDate" class="form-control" />
                <span asp-validation-for="TblEmployeeRequestSkill.FldEmployeeRequestSkillsSkillStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblEmployeeRequestSkill.FldEmployeeRequestSkillsSkillEndDate" class="control-label">تاریخ پایان</label>
                <input asp-for="TblEmployeeRequestSkill.FldEmployeeRequestSkillsSkillEndDate" class="form-control" />
                <span asp-validation-for="TblEmployeeRequestSkill.FldEmployeeRequestSkillsSkillEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="افزودن" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Botton {
    <a class="btn btn-danger rounded-circle" asp-page="./Index"><i class="fa fa-arrow-circle-left"></i></a>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
