@page
@model EmployeeRequest.SkillPage.VersionPage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>افزودن ورژن</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Version.SkillId" value="@Model.SkillId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Version.Version1" class="control-label">ورژن انگلیسی</label>
                <input asp-for="Version.Version1" class="form-control" />
                <span asp-validation-for="Version.Version1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Version.PersianVersion" class="control-label">ورژن فارسی</label>
                <input asp-for="Version.PersianVersion" class="form-control" />
                <span asp-validation-for="Version.PersianVersion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Version.StartDate" class="control-label">تاریخ شروع</label>
                <input asp-for="Version.StartDate" class="form-control" />
                <span asp-validation-for="Version.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Version.EndDate" class="control-label">تاریخ پایان</label>
                <input asp-for="Version.EndDate" class="form-control" />
                <span asp-validation-for="Version.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Version.Description" class="control-label">توضیحات فارسی</label>
                <textarea asp-for="Version.Description" class="form-control"></textarea>
                <span asp-validation-for="Version.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Version.EnglishDescription" class="control-label">توضیحات انگلیسی</label>
                <textarea asp-for="Version.EnglishDescription" class="form-control"></textarea>
                <span asp-validation-for="Version.EnglishDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Version.Active" class="control-label">وضعیت</label>
                <input asp-for="Version.Active" class="form-control" />
                <span asp-validation-for="Version.Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="افزودن" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Botton {
    <a class="btn btn-danger rounded-circle" asp-page="./Index" asp-route-id="@Model.SkillId"><i class="fa fa-arrow-circle-left"></i></a>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
