@page
@model Employee.Suggestion.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>ایجاد</h1>

<h4>جدول انتقادات و پیشنهادات</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TblUserSuggestion.Suggestion" class="control-label">پیشنهادات و انتقادات</label>
                <input asp-for="TblUserSuggestion.Suggestion" class="form-control" />
                <span asp-validation-for="TblUserSuggestion.Suggestion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="افزودن" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Botton {
    <a class="btn btn-outline-dark rounded" asp-page="Index" asp-route-id="@ViewData["EmployeeId"]"><i class="fa fa-arrow-circle-left"></i></a>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
