@page
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>ویرایش</h1>

<h4>جدول سوابق تحصیلی کاربر</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TblCustomerDegree.FldCustomerDegreeId" />
            <input type="hidden" asp-for="TblCustomerDegree.UserId" />
            <div class="form-group">
                <label class="control-label">مقطع تحصیلی</label>
                <select asp-for="TblCustomerDegree.DiplomaId" class="form-control" asp-items="ViewBag.DiplomaId"></select>
                <span asp-validation-for="TblCustomerDegree.DiplomaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">رشته تحصیلی از جدول</label>
                <select asp-for="TblCustomerDegree.EducationId" class="form-control" asp-items="ViewBag.EducationId"></select>
                <span asp-validation-for="TblCustomerDegree.EducationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">رشته تحصیلی</label>
                <input asp-for="TblCustomerDegree.FldEducationName" class="form-control" />
                <span asp-validation-for="TblCustomerDegree.FldEducationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">تاریخ شروع</label>
                <input asp-for="TblCustomerDegree.FldStartDate" class="form-control" />
                <span asp-validation-for="TblCustomerDegree.FldStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">تاریخ پایان</label>
                <input asp-for="TblCustomerDegree.FldEndDate" class="form-control" />
                <span asp-validation-for="TblCustomerDegree.FldEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">شماره مدرک</label>
                <input asp-for="TblCustomerDegree.FldExportNo" class="form-control" />
                <span asp-validation-for="TblCustomerDegree.FldExportNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">تاریخ اخذ مدرک</label>
                <input asp-for="TblCustomerDegree.FldExportDate" class="form-control" />
                <span asp-validation-for="TblCustomerDegree.FldExportDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">نمره</label>
                <input asp-for="TblCustomerDegree.FldPoint" class="form-control" />
                <span asp-validation-for="TblCustomerDegree.FldPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">توضیحات بیشتر</label>
                <input asp-for="TblCustomerDegree.FldDes" class="form-control" />
                <span asp-validation-for="TblCustomerDegree.FldDes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">محل تحصیل</label>
                <input asp-for="TblCustomerDegree.FldStudyPlace" class="form-control" />
                <span asp-validation-for="TblCustomerDegree.FldStudyPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">شهر محل تحصیل</label>
                <input asp-for="TblCustomerDegree.FldStudyCity" class="form-control" />
                <span asp-validation-for="TblCustomerDegree.FldStudyCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" asp-route-id="@Model.TblCustomerDegree.UserId">بازگشت به لیست</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
