@page
@model CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>ایجاد</h1>

<h4>جدول شغل های انتخابی کاربر</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">عنوان شغل</label>
                <input asp-for="TblEmployeeRequestUserJob.FldEmployeeRequestUserJobTitle" class="form-control" />
                <span asp-validation-for="TblEmployeeRequestUserJob.FldEmployeeRequestUserJobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">شغل انتخابی</label>
                <select asp-for="TblEmployeeRequestUserJob.FldEmployeeRequestJobsId" class="form-control" asp-items="ViewBag.FldEmployeeRequestJobsId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">توضیحات بیشتر</label>
                <input asp-for="TblEmployeeRequestUserJob.FldEmployeeRequestUserJobDescription" class="form-control" />
                <span asp-validation-for="TblEmployeeRequestUserJob.FldEmployeeRequestUserJobDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">حقوق پیشنهادی</label>
                <input asp-for="TblEmployeeRequestUserJob.FldEmployeeRequestUserJobRequestMoney" class="form-control" />
                <span asp-validation-for="TblEmployeeRequestUserJob.FldEmployeeRequestUserJobRequestMoney" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">اطلاعات کاربر از شغل</label>
                <input asp-for="TblEmployeeRequestUserJob.FldEmployeeRequestUserJobWhatKnowAbout" class="form-control" />
                <span asp-validation-for="TblEmployeeRequestUserJob.FldEmployeeRequestUserJobWhatKnowAbout" class="text-danger"></span>
            </div>
            <input type="hidden" value="@ViewData["EmployeeId"]" asp-for="TblEmployeeRequestUserJob.FldEmployeeRequestEmployeeId" />

            <div class="form-group">
                <input type="submit" value="ایجاد" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Botton {
    <a class="btn btn-outline-dark rounded" asp-page="Index" asp-route-id="@ViewData["EmployeeId"]"><i class="fa fa-arrow-circle-left"></i></a>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
