@page
@model EmployAccept.SearchModel
@{
    ViewData["Title"] = "جستجو";
}

<div class="row">
    <div class="col-12">
        <a class="btn btn-outline-primary m-3">فیلتر</a>
        <table class="table table-striped" id="DataT">
            <thead>
                <tr>
                    <th>نام </th>
                    <th>نام خانوادگی</th>
                    <th>شماره ملی</th>
                    <th>شماره تماس</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/lib/DataTables/jquery.dataTables.min.js"></script>
    <script>
        function Load() {
            loadDataT();
        }

        function loadDataT() {
            dataTable = $("#DataT").DataTable({
                "ajax": { "url": "?handler=Search", "type": "GET", "datatype": "json", async: true },
                "columns": [{ "data": "fldEmployeeRequestPrimaryInformationFirstName", "width": "20%" }, { "data": "fldEmployeeRequestPrimaryInformationLastName", "width": "20%" }, { "data": "fldEmployeeRequestPrimaryInformationNationalCode", "width": "20%" }, { "data": "fldEmployeeRequestPrimaryInformationPhoneNo", "render": function (data) { return (data + '').substring(3) }, "width": "20%" }, { "data": "fldEmployeeRequestEmployeeId", "render": function (data) { return '<a href="Detail?id=' + data + '" onclick="window.open(this.href, \'mywin\',\'left=20,top=20,width=800,height=600,toolbar=1,resizable=1\'); return false;">جزئیات</a>' }, "width": "20%" }],
                "language": { "emptyTable": "موردی یافت نشد" },
                "width": "100%"
            });
        }
    </script>
}