@page
@model EmployAccept.SetInterviewModel
@{
    ViewData["Title"] = "تنظیم / ویرایش زمان مصاحبه";
}

<h4>تنظیم / ویرایش زمان مصاحبه</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form name="myform" method="post" onsubmit="return validate()">
            <input type="hidden" asp-for="TblEmployeeRequestEmployee.FldEmployeeRequestEmployeeId" />
            <div class="form-group">
                <label class="control-label">تاریخ شروع مصاحبه </label>
                <input class="form-control" name="startdate" type="text" id="input1" value="@ViewBag.startdate" readonly />
                <span id="span1"></span>
            </div>

            <div class="form-group">
                <label class="control-label">ساعت شروع مصاحبه </label>
                <input class="form-control bs-timepicker" name="starttime" id="starttime" type="text" value="@ViewBag.starttime" autocomplete="off"/>
                <span id="span1"></span>
            </div>

            <div class="form-group">
                <label class="control-label">تاریخ پایان مصاحبه</label>
                <input class="form-control" name="enddate" type="text" id="input2" value="@ViewBag.enddate" readonly />
                <span id="span2"></span>
            </div>

            <div class="form-group">
                <label class="control-label">ساعت پایان مصاحبه </label>
                <input class="form-control bs-timepicker" name="endtime" id="endtime" type="text" value="@ViewBag.endtime" autocomplete="off"/>
                <span id="span1"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/sweetalert/sweetalert2.10.js"></script>
    <script>
        function Load() {
            $('.bs-timepicker').timepicker();
            $("#input1, #span1").persianDatepicker();
            $("#input2, #span2").persianDatepicker();
        }

        function validate() {
            if ((document.forms["myform"]["startdate"].value == "") ||
                (document.forms["myform"]["starttime"].value == "") ||
                (document.forms["myform"]["enddate"].value == "") ||
                (document.forms["myform"]["endtime"].value == "")) {
                Swal.fire('لطفا همه مقادیر را وارد کنید', '', 'error');
                return false;
            }
            return true;
        }
    </script>
}
