@page
@model Panel.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="row">


    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                             کاربران ثبت نام شده
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.AllRegisteredUsers</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-users fa-2x text-gray-300 text-primary"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                             کاربران مرد
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.MenRegisteredUsers</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-male fa-2x text-gray-300 text-success"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                             کاربران زن
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.WomenRegisteredUsers</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-female fa-2x text-gray-300 text-info"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                             کاربران تایید شده
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.AcceptedRegisteredUsers</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-check fa-2x text-gray-300 text-warning"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">

    @*بخش درخواست نیرو*@
    <div class="col-lg-6">
        <h4><span class="badge badge-secondary h-1">بخش درخواست نیرو</span></h4>
        <div class="bs-component">
            <a class="acart" asp-page="../EmployeeRequest/Create">
                <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header"><i class="fa fa-users"></i><span class="h5 ml-2">ایجاد درخواست نیرو</span></div>
                    <div class="card-body">
                        <p class="card-text">ورود به بخش ایجاد درخواست نیرو</p>
                    </div>
                </div>
            </a>

            <a class="acart" asp-page="../EmployeeRequest/Index">
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header"><i class="fa fa-history"></i><span class="h5 ml-2">سوابق درخواست نیرو</span></div>
                    <div class="card-body">
                        <p class="card-text">مشاهده وضعیت و سوابق درخواست نیرو</p>
                    </div>
                </div>
            </a>

            <a class="acart" asp-page="../EmployeeRequest/Accept">
                <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
                    <div class="card-header"><i class="fa fa-check"></i><span class="h5 ml-2">تایید درخواست ها</span></div>
                    <div class="card-body">
                        <p class="card-text">ورود به بخش تایید و یا عدم تایید درخواست نیرو</p>
                    </div>
                </div>
            </a>

            <a class="acart" asp-page="../EmployeeRequest/Transfer">
                <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                    <div class="card-header"><i class="fas fa-arrow-circle-right"></i><span class="h5 ml-2">انتقال درخواست</span></div>
                    <div class="card-body">
                        <p class="card-text">ورود به بخش انتقال درخواست نیرو به سیستم استخدام</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    @*بخش تایید نیرو*@
    <div class="col-lg-6">
        <h4><span class="badge badge-secondary h-1">بخش تایید نیرو</span></h4>
        <div class="bs-component">
            <a class="acart" asp-page="../EmployAccept/Index">
                <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header"><i class="fa fa-user-check"></i><span class="h5 ml-2">تایید نیرو</span></div>
                    <div class="card-body">
                        <p class="card-text">ورود به بخش تایید نیرو</p>
                    </div>
                </div>
            </a>

            <a class="acart" asp-page="../EmployAccept/Scoring">
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header"><i class="fas fa-vote-yea"></i><span class="h5 ml-2">امتیاز دهی</span></div>
                    <div class="card-body">
                        <p class="card-text">ورود به بخش ثبت امتیاز برای نیرو های در حال مصاحبه</p>
                    </div>
                </div>
            </a>

            <a class="acart" asp-page="../EmployAccept/CreateScorer">
                <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
                    <div class="card-header"><i class="fas fa-star"></i><span class="h5 ml-2">ایجاد امتیاز دهنده</span></div>
                    <div class="card-body">
                        <p class="card-text">ورود به بخش ایجاد امتیاز دهنده</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-12 text-right">
        <a asp-page-handler="Logout">خروج از پنل مدیریت</a>
    </div>
</div>
